<%- include("partials/header") -%>

<nav>
    <h4>Node Mysql</h4>
    <ul>
        <li><a href="/">Home</a></li>
        <li><a href="/login">Login</a></li>
        <li><a href="/register">Register</a></li>
        <li><a href="/bhome">Blogs</a></li>
        <li><a href="/about">About-us</a></li>
        <li><a href="/contact">Contact-us</a></li>
        <li><a href="/compose">Compose-Blog</a></li>
    </ul>
</nav>


 <h1><%= title %></h1>

 <p><%= content %></p>   



<%- include("partials/footer") -%>